/* Colour Palette:
#F6F4EB = grey - main background colour
#91C8E4 = light blue
#749BC2 = grey blue
#4682A9 = dark blue - NavBar
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html,
body {
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  margin: 0;
}

/* Samir */

.hailHome a {
  color: white;
  text-decoration: none;
  /* background-color: red; */
}

.navbar {
  overflow: hidden;
  background-color: #4682a9;
}

.navbar span {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  overflow: hidden;
}

.navbar span:hover,
.dropdown:hover .dropbtn {
  background-color: 91C8E4;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4682a9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content span {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content span:hover {
  background-color: #749bc2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a,
.dropbtn a {
  text-decoration: none;
  color: white;
}
/* CSS for View all Locations */

body {
  background: #f6f4eb;
}

.locationHeading {
  text-align: center;
  color: #25485f;
  font-size: 2rem;
}

.locationContainer {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.locationImg {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin: 10px;
  opacity: 1;
}

.locationButton {
  background-color: inherit;
  border: none;
  cursor: pointer;
  appearance: none;
}

.locationButton:hover {
  opacity: 0.5;
}

.locationText {
  position: relative;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f6f4eb;
  font-weight: 800;
  border-radius: 5px;
  background: rgba(71, 130, 169, 0.8);
  padding: 5px 0px;
  width: 100px;
  overflow: hidden;
  font-size: 1rem;
}

.locationText:hover {
  background: rgba(71, 130, 169, 1);
}

/*homepage css */
.image-container {
  background-image: url();
}

/* Samir */

/* The hero image */
.hero-image img {
  width: 100vw;
  height: 100%;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /* background-color: red */

  /* Set a specific height */

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  background-color: #749bc29b;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px;
  font-size: 1.5rem;
}
